/* add styles here */
/* line 4, ../style_src/main.scss */
body {
  font: 1em Helvetica, sans-serif;
  padding: 4px;
}

/* line 9, ../style_src/main.scss */
h1 {
  margin-top: 0;
}

/* line 14, ../style_src/main.scss */
div.hidden {
  display: none;
}

/* line 19, ../style_src/main.scss */
div#content {
  position: relative;
}

/* line 23, ../style_src/main.scss */
div#nav {
  border: 2px solid #bbb;
  padding: 2px;
  float: left;
}

/* line 30, ../style_src/main.scss */
ul#navul {
  padding-left: 2px;
  margin-left: 2px;
}

/* new entry stuff */
/* line 36, ../style_src/main.scss */
#newtaskwrapper {
  width: 500px;
}

/* line 40, ../style_src/main.scss */
#newprojectwrapper {
  width: 500px;
}

/* line 44, ../style_src/main.scss */
#newcontextwrapper {
  width: 500px;
}

/* line 48, ../style_src/main.scss */
#newentry form {
  position: relative;
  height: 150px;
  padding: 4px;
  margin: 6px;
  background-color: #ddd;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 58, ../style_src/main.scss */
fieldset {
  border: none;
}

/* line 62, ../style_src/main.scss */
fieldset li {
  list-style-type: none;
}

/* line 66, ../style_src/main.scss */
.leftcolumn {
  position: absolute;
  left: 3px;
  top: 20px;
  width: 300px;
}

/* line 73, ../style_src/main.scss */
.leftcolumn label {
  float: left;
  width: 35%;
}

/* line 78, ../style_src/main.scss */
.leftcolumn input {
  width: 185px;
}

/* line 82, ../style_src/main.scss */
.rightcolumn {
  position: absolute;
  left: 305px;
  top: 30px;
  width: 150px;
}

/* line 90, ../style_src/main.scss */
.formbuttons {
  position: absolute;
  bottom: 3px;
  width: 300px;
}

/* line 96, ../style_src/main.scss */
legend {
  text-decoration: underline;
}

/* end new entry stuff */
/* line 102, ../style_src/main.scss */
div#accountwrapper {
  float: right;
  border: 3px solid black;
  background-color: #eee;
  margin-bottom: 8px;
}

/* line 109, ../style_src/main.scss */
#account {
  float: right;
}

/* line 113, ../style_src/main.scss */
#profile {
  float: left;
}

/* line 118, ../style_src/main.scss */
a.menunewbutton {
  font-size: 0.9em;
}

/* line 123, ../style_src/main.scss */
a.menunewtask {
  position: relative;
  bottom: 1px;
}

/* line 128, ../style_src/main.scss */
div.avatar {
  padding: 2px;
  padding-bottom: 0;
  margin-right: 4px;
  font-size: 0.78em;
  float: right;
  width: 60px;
  height: 60px;
  text-align: center;
}

/* line 139, ../style_src/main.scss */
div.avatar .name {
  padding-top: 2px;
}

/* line 143, ../style_src/main.scss */
div.avatar img {
  margin: 0 auto;
  padding: 0;
  width: 40px;
  height: 40px;
}

/* line 150, ../style_src/main.scss */
ul.nobullet {
  list-style: none;
}

/* line 155, ../style_src/main.scss */
div#tasks {
  position: absolute;
  top: 5px;
  left: 200px;
  width: 750px;
}

/* line 163, ../style_src/main.scss */
ul#tasksul {
  margin-left: 0;
  padding-left: 10px;
}

/* line 169, ../style_src/main.scss */
li.task {
  position: relative;
  font-family: Geneva, sans-serif;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #c2c2c2;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 180, ../style_src/main.scss */
li.task input {
  margin-left: 10px;
}

/* line 185, ../style_src/main.scss */
span.tags {
  background-color: #a2a2a2;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

/* line 195, ../style_src/main.scss */
select#contextselect {
  height: 50px;
}

/* line 200, ../style_src/main.scss */
div.taskeditor {
  position: relative;
  height: 240px;
  left: 10px;
}

/* line 207, ../style_src/main.scss */
#navul a:visited {
  color: black;
}

/* line 212, ../style_src/main.scss */
#navul a:link {
  text-decoration: none;
}

/* line 217, ../style_src/main.scss */
#navul a.active {
  background: #cccccc;
}

/* line 222, ../style_src/main.scss */
a.deletebutton {
  position: absolute;
  right: 25px;
  top: 15px;
}
